rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // Allow user full access and allow extension / unauthenticated sync to read and write contacts
      allow read, write: if true;

      match /contacts/{contactId} {
        allow read, write: if true;
      }

      match /settings/{settingId} {
        allow read, write: if true;
      }
    }
  }
}

